@font-face {
    font-family: 'Questrial';
    src: url('fonts/Questrial-Regular.ttf') format('truetype');
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: rgb(201, 201, 201);
}

@media (prefers-color-scheme: dark){
    body{
        background-color: #101010;
        color: #b0b0b0b0;
    }
}

ul[title]::before{
    content: attr(title);
    display: block;
    font-weight: bold;
    padding: 4px;
}

@media only screen and (max-width: 768px){
    ul{
        list-style: none;
        padding-inline-start: 0;
    }
}